<div class="header">
    <div class="u-pull-left logo blink-font">
        <a routerLink="/posts" style="font-size: 24px; text-align: center">Postium</a>
    </div>
    <div class="u-pull-right">
        <div class="u-pull-right">
            <search-box (onSearch)="searchPost($event)"></search-box>
        </div>
        <div class="u-pull-right action-link blink-font">
            <!--
            |----------------------------------------------------------------------------|
            | Purple Path                                                                |
            |----------------------------------------------------------------------------|
            | Modifica el enlace para que al hacer clic sobre él navegue a '/new-story'. |
            |----------------------------------------------------------------------------|
            -->
            <a *ngIf="logged" routerLink="/new-story">Escribe una historia</a>
            <span *ngIf="logged">|</span>
            <a *ngIf="logged" routerLink="/logout">Logout</a>
            <a *ngIf="!logged" routerLink="/login">Login</a>
            <span *ngIf="!logged">|</span>
            <a *ngIf="!logged" routerLink="/signup">Sign Up</a>
        </div>
    </div>
</div>
