.fa {
    font-family: FontAwesome;
    background-color: white;
    width: 30px;
    color: #00ab6b;
    text-align: center;
}

RadListView {
    margin-right: -2;
    background-color: lightgray;
}

.listItemTemplateGrid {

    border-width: 2;
    border-color: lightgray;
}

.labelsStackLayout {
    background-color: rgba(255, 255, 255, 0.7);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

.cellImage{
    width: 100%;
    height: 255px;
    margin-top: -3px;
}

.authorDetailsCell{
    margin: 5px;
}

.authorLabel{
    font-weight: bold;
    color: #00ab6b;
}

.pubDateLabel{
    font-size: 13px;
    color: lightgray;
}

.authorCell{
    margin: 10px;
}
.introLabel{
    margin: 3px 10px 15px 10px;
}

.searchInput{
    background-color: white;
    height: 30px;
    width: 100%;
}